main {
    margin: auto 500px;
}

.deroulant {
    width: 1069px;
    min-height: 248px;
    text-align: center;
    margin-top: 40px;
    margin-right: 98px;
    margin-left: 136px;
    padding-bottom: 118px;
}


.item {
    border-bottom: 1px solid rgb(75, 91, 102); 
    padding: 10px;
}

.body {
    height: auto;
    background-color: rgb(255, 255, 255);
    padding-top: 20px;
    visibility: hidden;
    display: none;
    height: auto;
    
}
.body div{
  /* border-bottom: 1px solid rgb(135, 192, 230); */
}
.body .site1 p{
    /* border-bottom: 1px solid rgb(92, 117, 134);  */
   
    margin-top: -7px;
  }

.head {
    height: 50px;
    background-color: #018599;
    padding: 10px;
}

.show {
    visibility: visible;
    display: block;
}

.icon {
    transform: rotate(0deg);
    display: inline-block;
}

.up {
    transform: rotate(-180deg);
}
.icon-Agence{
    width: 56px;
    height: 50px;
    float: right;
    margin-top: -43px;
    margin-left: 39px;
    color: white;
}
.head h1{
    color: aliceblue;
}
.container{
    display: grid;
    grid-template-columns: auto 100px;
    
}
.me{
    background-color: #018599;
}
 .admin-reservation {
    margin-bottom: 1.5em;
    font-size: 16px;
    color: #050606;
    font-family: "Open Sans", Arial, sans-serif;
    margin-top: 70px;
  }
  .about-reservation{
      margin-top: -74px;
  }
  .pro-title{
      color: black;
  }
  .col-lg-4 .footer-newsletter{
      width: 200px;
      margin-left: 100px;
      margin-top: 20px;
      height: 30px;
  }
  .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    /* padding: 6px 10px; */
    position: relative;
    border-radius: 12px;
    text-align: left;
    border: 5px solid #e4e3e6;
}
.footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: -2px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #018599;
    color: #fff;
    transition: 0.3s;
    border-radius: 12px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
.footer-newsletter form input[type=text] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.col-lg-5 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 431px;
    margin-left: 331px;
}