<html xmlns:th="http://www.thymeleaf.org" >

<!--/*******************
-pour dire que cette page sera utilliser par notre moteur de template
-utiliser pour inclure les blocks de code qui se repete dans index.html
**************************/-->

<th:block th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Gestion des réservations de tickets de bus</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" th:href="@{/ProjetWebTemplate/images/telechargement(3).jpg}" type="image/x-icon" />
    <link rel="apple-touch-icon" th:href="@{/ProjetWebTemplate/images/apple-touch-icon.png}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/ProjetWebTemplate/css/bootstrap.min.css}">
    <link th:href="@{/ProjetWebTemplate/css/bootstrap-icons.css}" rel="stylesheet">
    <!-- Site CSS -->
    <link rel="stylesheet" th:href="@{/ProjetWebTemplate/css/style.css}">
    <link rel="stylesheet" th:href="@{/ProjetWebTemplate/css/formulairerecherche.css}">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" th:href="@{/ProjetWebTemplate/css/versions.css}">
    <!-- Responsive CSS -->
    <link rel="stylesheet"th:href="@{/ProjetWebTemplate/css/responsive.css}">
    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/ProjetWebTemplate/css/custom.css}">

    <link rel="stylesheet" th:href="@{/ProjetWebTemplate/css/style2.css}">
    <link rel="stylesheet" th:href="@{/ProjetWebTemplate/css/style3.css}">
    <link rel="stylesheet" th:href="@{/ProjetWebTemplate/css/timeline.min.css}">

    <!-- Modernizer for Portfolio -->


</th:block>

</html>